@import 'include';


.date-range-picker {
    display: inline-flex;
    align-items: baseline;

    label {
        display: inline-block;

        &.from {
            margin: 0 $pad-half 0 0;
        }

        &.to {
            margin: 0 $pad-half;
        }
    }

    input[type=text] {
        width: 75px;
    }

}
