@import 'styles/include';


.date-range-picker {
    display: inline-flex;
}

.date-range-picker label {
    margin-right: $pad-half;
}

.date-range-picker input[type=text] {
    margin-right: $pad-half;
    width: 75px;
}
