@import 'include';


.date-range-picker {
    display: inline-flex;
    align-items: baseline;

    label {
        display: inline-block;
        margin: 0 $pad-half;
    }

    input[type=text] {
        // margin-right: $pad-half;
        width: 75px;
    }

}
