@import 'include';

.error {
    display: flex;
    padding: $pad-standard;
    background-color: rgba(222, 60, 75, 0.2);
}

.error-icon {
    color: $colour-rusty-red;
    margin-right: $pad-standard;
}

.error-message {
    margin: 0;
}
