@import 'include';

.error {
    display: flex;
    padding: $pad-standard;
    background-color: lighten($colour-danger, 30);
}

.error-icon {
    color: $colour-danger;
    margin-right: $pad-standard;
}

.error-message {
    margin: 0;
}
