@import 'include';

.menu {

    position: relative;

    .toggle {
        display: flex;
        min-width: 195px;
        cursor: pointer;
    }

    .toggle-icon {
        margin-left: auto;
    }

    .menu-list {
        position: absolute;
        top: 40px;
        left: 0;
        z-index: 1;
        background: $colour-white;
        border: 1px solid $colour-border;
        
        @include shadow;

        &.right {
            left: initial;
            right: 0;
        }

        li {
            padding: $pad-half;
            cursor: pointer;
            white-space: nowrap;

            &:hover {
                background-color: lighten($colour-accent, 50);
            }
        }
    }

}
