@import 'include';

.menu {

    position: relative;

    .toggle {
        display: flex;

        &:not(:disabled) {
            cursor: pointer;
        }
    }

    .toggle-icon {
        margin-left: $pad-half;
    }

    .menu-list {
        position: absolute;
        left: 0;
        z-index: 1;
        background: $colour-white;
        border: 1px solid $colour-border;
        margin-top: $pad-half;
        
        @include shadow;

        &.right {
            left: initial;
            right: 0;
        }

        li {
            padding: $pad-half;
            cursor: pointer;
            white-space: nowrap;
            display: flex;
            align-items: center;

            &:hover {
                background-color: lighten($colour-accent, 50);
            }

            input[type=checkbox] {
                margin-right: $pad-half;
            }
        }
    }

}
