
// Padding

$pad-double: 2rem;
$pad-standard: 1rem;
$pad-half: .5rem;


// Font Sizes

$font-size-small: .8rem;
$font-size-standard: 1rem;
$font-size-large: 1.2rem;


// Colours

$colour-main: #5bac26;
$colour-main-bold: #008751;
$colour-background: #f2f3eb;
$colour-accent: #00adef;
$colour-accent-bold: #2381D3;
$colour-text: #282922;
$colour-text-secondary: lighten($colour-text, 30);
$colour-text-disabled: lighten($colour-text, 60);
$colour-danger: #ff5436;
$colour-white: #fff;


$colour-background-primary: $colour-background;
$colour-background-secondary: $colour-main;

$colour-border: lighten($colour-text, 60);
$colour-border-primary: $colour-accent;
$colour-border-secondary: $colour-background;

$colour-button-bg: $colour-main;
$colour-button-bg-primary: $colour-main-bold;
$colour-button-bg-secondary: $colour-background;
$colour-button-bg-disabled: darken($colour-background, 50);
$colour-button-bg-danger: $colour-danger;
$colour-button-bg-danger-hover: darken($colour-danger, 10);

$colour-button-text: $colour-white;
$colour-button-text-primary: $colour-white;
$colour-button-text-secondary: $colour-accent-bold;
$colour-button-text-disabled: lighten($colour-button-text, 50);

$colour-anchor: $colour-accent;
$colour-anchor-hover: $colour-accent-bold;

$colour-tab: $colour-background;
$colour-tab-primary: $colour-main-bold;
$colour-tab-text: $colour-main-bold;
$colour-tab-primary-text: $colour-white;
$colour-tab-text-hover: $colour-main;
$colour-tab-text-disabled: $colour-text-disabled;
