
// Padding

$pad_standard: 1rem;
$pad_half: .5rem;


// Colours

$colour_dark_purple: #240115;
$colur_rusty_red: #de3c4b
$colour_electric_blue: #87f5fb;
$colour_dark_sienna: #2f131e;
$colour_pale_silver: #cec3c1;




$colour_background_primary: $colour_pale_silver;
$colour_background_secondary: $colour_dark_sienna;

$colour_button: $colour_pale_silver;
$colour_button_primary: $colour_dark_sienna;
// $colour_button_primary_hover: $colour_dark_purple;


// $colour_trim




// Dark purple #240115
// Rusty red #de3c4b
// Electric blue #87f5fb
// Dark sienna #2f131e
// Pale silver #cec3c1
