@import 'include';

.requests-actions {
    display: flex;
    align-items: center;
    margin-left: $pad-standard;

    label {
        min-width: 150px;
    }

    > *:not(:last-child) {
        margin-right: $pad-standard;
    }
}
