
.requests-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.requests-actions label {
    display: inline-block;
    margin-right: 1rem;
}

.requests-actions button {
    margin-left: 1rem;
}
