@import 'include';

.requests-filter {
    display: flex;
    align-items: center;

    .date-field {
        display: inline-flex;
        flex-direction: column;
    }

    .date-field-label {
        display: inline-block;
        margin: 0 0 $pad-half;
    }

    .and {
        position: relative;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        margin: 0 $pad-standard;
        text-transform: uppercase;
    }

    .and:before {
        content: '';
        height: $pad-standard;
        width: 1px;
        margin-bottom: $pad-half;
        background-color: $colour-text;
    }

    .and:after {
        content: '';
        height: $pad-standard;
        width: 1px;
        margin-top: $pad-half;
        background-color: $colour-text;
    }

    button {
        margin-left: auto;
    }

}