@import 'include';

.filter-field {
    display: inline-flex;
    align-items: center;
    padding: 0 $pad-standard 0 0;
    flex: 1 1 auto;

    label {
        margin-bottom: $pad-half;
    }

    .search-icon {
        margin-right: $pad-standard - .2rem;
    }

    .value {
        flex: 1 1 auto;
    }
}
