@import 'include';

.filter-field {
    display: inline-flex;
    align-items: center;
    padding: 0 $pad-standard 0 0;

    label {
        margin-bottom: $pad-half;
    }

    input[type=text] {
        width: 180px;
    }

    .search-icon {
        margin-right: $pad-standard - .2rem;
    }
}
