@import 'include';

.requests-filter {

    flex: 1 1 auto;
    color: $colour-text-secondary;

    .standard-filter {
        display: flex;
        align-items: center;
    }

    .date-field {
        margin-right: $pad-standard;
        border-right: 1px solid $colour-border;
        padding-right: $pad-standard;
    }

    .toggle {
        font-size: $font-size-small;

        .toggle-icon {
            margin-left: $pad-half;
        }
    }

    .additional-filter {
        margin: $pad-standard 0 0;
        border-top: 1px solid $colour-border;
        padding: $pad-standard 0 0;

        h4 {
            font-size: $font-size-small;
            text-transform: uppercase;
        }

        .filter-field + .filter-field {
            border-left: 1px solid $colour-border;
            padding-left: $pad-standard;
        }
    }

    button {
        margin-left: auto;
    }
}

@media (max-width: $breakpoint-large) {
    .toggle-label {
        display: none;
    }

    .toggle-icon {
        margin: 0 $pad-standard 0 0;
    }
}