@import 'include';

.requests-container {

    .requests-header {
        position: sticky;
        top: -1px;
        display: flex;
        align-items: flex-start;
        background-color: $colour-white;
    }

    .requests-controls {
        display: flex;
        align-items: center;

        .add-button {
            margin-left: auto;

            svg {
                margin-right: $pad-half;
            }
        }
    }
}
