@import 'include';

.requests-list td {
    white-space: pre;
}

.requests-list .inline-icon {
    height: 14px;
    margin: 0 0 -1px $pad-half;   
}

.requests-list .inline-icon-text {
    margin-left: $pad-standard;
}

.requests-list .inline-header {
    position: sticky;
    top: $toolbar-height;
}

.flag {
    color: $colour-danger;
}