@import 'include';

.request-details .top-controls {
    display: flex;
    justify-content: flex-end;
}

.request-details .row label {
    font-size: $font-size-small;
    color: $colour-text-secondary;
    margin: 0 0 $pad-half;
    text-transform: uppercase;
}

.event-wrap {
    margin-top: $pad-standard;
    max-height: 150px;
    overflow-y: scroll;
    border: 1px solid $colour-border-secondary;
}
