@import 'include';

.request-details .top-controls {
    display: flex;
    justify-content: flex-end;
}

.request-details .row label {
    color: $colour-text-secondary;
}

.event-wrap {
    margin-top: $pad-standard;
    max-height: 150px;
    overflow-y: scroll;
    border: 1px solid $colour-border-secondary;
}
