@import 'include';

.lists-controls {
    display: flex;
    flex-direction: row;
    align-items: center;

    button svg {
        margin-right: $pad-half;
    }

    .save {
        margin-left: auto;
    }
}
