@import 'include';

.lists-data {

    margin: 0 0 $pad-standard;

    .action-cell {
        text-align: right;
    }

    .item-action {

        color: $colour-text-secondary;

        &.primary:not(.disabled) {
            color: $colour-accent;

            &:hover {
                color: $colour-accent-bold;
            }
        }

        &.danger:not(.disabled) {
            color: $colour-button-bg-danger;

            &:hover {
                color: $colour-button-bg-danger-hover;
            }
        }

        &:not(.disabled) {
            cursor: pointer;
        }

        &.disabled {
            color: $colour-text-disabled;
        }

        &:hover:not(.disabled) {
            color: $colour-text;
        }

        + .item-action {
            margin-left: $pad-half;
        }
    }
}
