@import 'include';

.lists-data {
    .item-action {

        color: $colour-text-secondary;

        // TODO &.primary, &.danger

        &:not(.disabled) {
            cursor: pointer;
        }

        &.disabled {
            color: $colour-text-disabled;
        }

        &:hover:not(.disabled) {
            color: $colour-main;
        }

        + .item-action {
            margin-left: $pad-half;
        }
    }
}
