@import 'include';
@import 'fontawesome/fontawesome.scss';
@import 'fontawesome/regular.scss';

body {
    margin: 0;
    font-family: 'Source Sans Pro', arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 $pad-standard;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.6rem;
}

p {
    margin: 0 0 $pad-half;
}

a {
    text-decoration: none;
    color: $colour-anchor;
}

a:hover {
    color: $colour-anchor-hover;
}

input {
    border: none;
    padding: $pad-half;

    &:focus {
        outline: none;
    }
}

input[type=checkbox] {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    color: $colour-text;
    appearance: none;
    cursor: pointer;

    @extend %fa-icon;
    @extend .far;

    &:disabled {
        color: $colour-text-disabled;
        cursor: default;
    }

    &:before {
        content: fa-content($fa-var-square);
    }

    &:checked:before {
        content: fa-content($fa-var-check-square);
    }
}

select {
    font-size: $font-size-standard;
}

select:focus {
    outline: none;
}

table {
    width: 100%;
    margin: 0;
    color: $colour-text;
}

thead {
    font-weight: 500;
    border-bottom: 1px solid $colour-border-primary;
}

th, td {
    padding: $pad-half;
    text-align: left;
    vertical-align: middle;
}

th {
    color: $colour-text-secondary;
}

th.numerical, td.numerical {
    text-align: right;
}

tbody tr:nth-child(even) {
    background: rgba(91, 159, 227, 0.2);
}

table.selectable tbody tr {
    cursor: pointer;
}

table.selectable tbody tr:hover {
    background: rgba(91, 159, 227, 0.4);
}

table .selection-cell {
    vertical-align: middle;
}

table .empty-row {
    text-align: center;
    color: $colour-text-secondary;
}

button {
    padding: $pad-half $pad-standard;
    background-color: $colour-button-bg;
    color: $colour-button-text;
    border: none;
    border-radius: 0;
    font-size: $font-size-standard;
    line-height: 1;
    cursor: pointer;
}

button.primary:not(:disabled) {
    background-color: $colour-button-bg-primary;
    color: $colour-button-text-primary;
}

button.secondary:not(:disabled) {
    background-color: $colour-button-bg-secondary;
    color: $colour-button-text-secondary;
}

button.btn-small {
    padding: $pad-half / 2 $pad-half;
}

button:disabled {
    cursor: default;
    background-color: $colour-button-bg-disabled;
    color: $colour-button-text-disabled;
}

button:focus {
    outline: none;
}

.panel {
    margin: 0 0 $pad-standard;
    padding: $pad-standard;
    background-color: $colour-background-primary;
}

