<!DOCTYPE html>
<html>
    <title>Driver Overview</title>
    <h1>DRIVER OVERVIEW</h1>
    <body>
        <table>
            <tr>
                <td colspan="5">{{ date }}</td>
                <td><img src="{{ url_for('static', filename='logo.jpg', _external=True)}}"></td>
            </tr>
            <tr>
                <th>NAME</th>
                <th>ADDRESS</th>
                <th>CONTACT</th>
                <th>DELIVERY DATE</th>
                <th>INSTRUCTIONS</th>
                <th>DELIVERED?</th>
            </tr>
            {% for request in requests_items %}
            <tr>
                <td>{{ request['client_full_name'] }}</td>
                <td>{{ request['address_line_1'] }}, {{ request['postcode'] }}</td>
                <td>{{ request['phone_number'] }}</td>
                <td>{{ request['delivery_date'] }}</td>
                <td>{{ request['delivery_instructions'] }}</td>
                <td></td>
            </tr>
            {% endfor %}
            <br>
            <tr>
                <td colspan="6">⚠️ PLEASE RETURN THIS SHEET TO THE LAMBETH FOODBANK WAREHOUSE AT THE END OF YOUR SHIFT ⚠️</td>
            </tr>
        </table>
    </body>
</html>
