@import 'include';

.header {
    display: flex;
    align-items: flex-end;
    border-bottom: .25rem solid $colour-button-bg-primary;
}

.logo {
    margin: 0 $pad-standard;
    height: 120px;
    width: 160px;
}

.logout {
    margin: $pad-half $pad-standard 0 auto;
    align-self: baseline;
    font-size: .8rem;
}
