@import 'include';

.header {
    height: 115px;
    display: flex;
    align-items: flex-end;
    border-bottom: .25rem solid $colour-tab-primary;
}

.logo {
    margin: $pad-half $pad-standard;
    width: 160px;
}

.logout {
    margin: $pad-half $pad-standard 0 auto;
    align-self: baseline;
    font-size: .8rem;
}

.logout-icon {
    margin-left: $pad-half;
}
