@import 'include';

.tab {
    display: inline-block;
    margin-right: $pad-half / 2;
    padding: $pad-standard;
    background-color: $colour-button-bg-secondary;
    color: $colour-button-text-secondary;
    cursor: pointer;
    border-top-right-radius: $pad-half / 2;
    border-top-left-radius: $pad-half / 2;
}

.tab:hover {
    color: $colour-dark-purple;
}

.tab.selected {
    background-color: $colour-button-bg-primary;
    color: $colour-button-text-primary;
}

.tab.selected:hover {
    color: $colour-white;
}
