@import 'include';

.tab {
    display: flex;
    margin-right: $pad-half / 2;
    background-color: $colour-tab;
    color: $colour-tab-text;
    cursor: pointer;
    border-top-right-radius: $pad-half / 2;
    border-top-left-radius: $pad-half / 2;
    font-size: 1.25rem;

    &:hover {
        color: $colour-tab-text-hover;
    }

    &.selected {
        background-color: $colour-tab-primary;
        color: $colour-tab-primary-text;
    }

    &.selected:hover {
        color: $colour-tab-text-hover;
    }

    &.selected:hover {
        color: $colour-white;
    }

    a {
        display: inline-block;
        padding: $pad-standard $pad-standard .8rem;
        border-top-right-radius: $pad-half / 2;
        border-top-left-radius: $pad-half / 2;
        color: inherit;
        background-color: inherit;
    }
}
